@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 font-sans antialiased selection:bg-indigo-500/30;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-slate-900/40 shadow-[0_8px_32px_0_rgba(0,0,0,0.3)] border border-white/10 backdrop-blur-xl;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

#root {
  @apply min-h-screen w-full flex flex-col;
}
